#body{
	background-color: #FFFFFF;
  text-align:center;
  width:100vw;
}
.row-fluid ul {
  display: block;
  list-style-type: none;
  margin-top: 0em;
  margin-bottom: -200em;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #FFFFFF;
  border: 3px solid #7FB2F0;
	border-style:ridge;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, "Lucida Grande", "PingFang TC", "蘋果儷中黑", "Apple LiGothic Medium", "微軟正黑體", "Microsoft JhengHei", sans-serif;
	font-size:22px;
}
.row-fluid ul a{
	color: #5e5e5e;
  font-size: 14px;
}
.row-fluid ul a:hover,
.row-fluid ul a:focus {
  color: #005580;
  text-decoration: none;
}

.CA-box{
	display: block;
	float: center;
	text-align: left;
	background-color: #FFFFFF;
	border: 3px solid #7FB2F0;
	font-size: 20px;
	width: 100%;
}

.CA-box2 div{
	float: left;
  width: 300px;
  padding: 0 4px;
  text-align: left;
  margin-left: 10px; 
	margin-right:0.1%; 
  line-height: 2.0;
	font-size: 13px;
}
/* 上述為中間熱門作品的css設定，下述為功能列按鈕設定 */
/*封面圖&按鈕*/
#mainfunctionbox{
  position:absolute;
  height:10vh; 
  width:80vw;
  margin-top:0.5%;
  margin-left:25vw;
  z-index: 50;
}

#MaincoserContent{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#Main_news{
  padding-left:10px;
  padding-right:10px;
  background-color: #CCEEFF;
  border-radius: 20px;
  height:400px;
}

#otherfunctionbox{
  position:absolute;
  height:10vh;
  width:70vw;
  margin-top:0.5%;
  margin-left:30%;
  z-index: 50; 
}
.headerbutton{
  position: relative;
  display:inline-block;
  width:8%;
  height:20px;
  padding: 0.3%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  border: 1px solid black;
  background-color:#2F4858;
  font-family:微軟正黑體;
  font-size: 13px;
  color: white;
  transform: skew(-30deg);
  letter-spacing:2px;
  opacity: 0.7;
  overflow:hidden;
}
.headerbutton:hover{
  font-weight:bold;
  border-bottom:thick solid #7FB2F0;
  opacity: 1;
  cursor: pointer;
}
.headerbutton div{
    transform: skew(30deg);
}
#headimg{
  height:30vw;
  width:100vw;
}
.rightAdjust{
  margin-left:95%;
}
/*封面圖&按鈕*/
/*封面logo*/
#logoarea1{
  position: absolute;
  top:-10vh;
  left:5vw;
  height:50vh;
  width:30vw;
  background-image:url('http://i.imgur.com/2jAzxEb.png');
  background-repeat:no-repeat;
  background-size:80%;
  z-index: 50; 
}

#logoarea2{
  position: absolute;
  top:15vh;
  left:12vw;
  height:50vh;
  width:30vw;
  background-image:url('http://i.imgur.com/GgBMHRn.png');
  background-repeat:no-repeat;
  background-size:33%;
  z-index: 50; 
}
/*封面logo*/

/* 個人圖像 NAV*/
.imgArea {
	width: 150px;
	height: 150px;
	margin: 0px;
	display: inline-block;
}

.navbar{
	position: relative;
	width:50%;
	display: inline-block;
}
/* 個人圖像 NAV*/
/*個人檔案*/
.personal-Info{
	width: 64%;
	display: inline-block;
	border-style:solid;
}
.personal-idx-img{
	border-style:none;
	width: 100%;
	display: inline-block;
	height: 100px;
	position: relative;

}
/*個人檔案*/

#searchbox{
  margin-left:4%;
}

#searchtitle{
  margin-top:2%;
  margin-bottom:0.5%;
  margin-left:4%;
  font-family: 微軟正黑體;
  cursor: wait; 
}

.otherlogin {
  width:4%;
}
.otherlogin div{
  margin-left:8%; 
}

#scenefunctionbox{
  position:relative;
  width:60vw;
  height:20px;
  z-index: 50; 
  margin-bottom: 50px;
}

.sceneheaderbutton{
  position: relative;
  display:inline-block;
  width:7%;
  height:100%;
  padding: 0.3%;
  padding-left: 3%;
  padding-right: 1.5%;
  border: 1px solid black;
  background-color:#87CEFA;
  font-family:標楷體;
  font-size: 20px;
  color: black;
  transform: skew(-30deg);
  letter-spacing:10px;
  opacity: 0.8;
}

#scenesearchsubmit{
  position: absolute;
  margin-left: 105%;
  margin-top: -12.5%;
}

.sceneheaderbutton:hover{
  font-weight:bold;
  border-bottom:thick solid #7FB2F0;
  opacity: 1;
  cursor: pointer;
} 

.sceneheaderbutton div{
    transform: skew(30deg);
}

#sceneinformationbox{
  background-color:white; 
  border-width:5px;
  height:1000px;
  margin-top: 5%;
  position:relative;
}

#sceneinformationbox::-webkit-scrollbar {
    display: none;
}

.scene:hover{
  border-style:solid;
  border-radius:10px;
  border-color: #87CEFA;
  border-width:3px;
  position: relative;
  cursor: pointer;
  opacity: 1;
}

#sceneinformationbox ul{
  border-style: none;
  margin-top: 3%;
  margin-left: 30%;
  text-align:left;
  position: absolute;
}

#sceneinformationbox li{
   font-size: 20px;
}

#sceneinformationbox h3{
  font-family: Verdana;
  margin-top: -2%;
  margin-left: -10%;
  font-size:30px;
  position:absolute;
} 
#sceneinformationbox p{
  font-size: 20px;
  font-family: Caslon;
  margin-top: 12%;
  margin-left: 63%;
  position:absolute;
} 

#sceneinformationbox h4{
  font-family: 標楷體;
  margin-top: 17%;
  margin-left: 63%;
  position:absolute;
} 
#sceneinformationbox h4:hover{
  color:blue;
}

.scene{
  font-family: 微軟正黑體;
  padding-left: 10%;
  padding-top: 2%;
  font-size: 20px;
  background-color: white;
  margin-top: 5%;
  margin-left: 5%;
  border-style:solid;
  border-radius:10px;
  border-color:#adadad;
  border-width:3px;
  height:23%;
  width: 80%;
  overflow:hidden;
  position: relative;
  opacity: 0.8;
}


#scenead{
  margin-left: 3%;
  margin-top: 20%;
  position:relative;
}

#scenead h5{
   margin-top: -5%;
}
#scenechoosebox{
   margin-left: 200px;
   width:30vw;
   margin-top: 3vh;
   position: relative;
}
#scenechoosebox h4{
  display: inline-block;
}

.scenechoose{
 position: relative;
 color:#0066FF;
 display: inline-block;
 cursor: pointer;
}  
.scenechoose:hover{
  color:#880000;
  text-decoration:underline;
}

#scenesearchbox{
  position: absolute;
  margin-left:10%;
  margin-top: 50px;
}
#scenesearchbox p{
  display: inline-block;
}

.animatecalendar{
  position: relative;
}

.scenedetail{
  width: 80%;
  margin-left: 5%;
  padding: 5%;
  margin-top: 50px;
  border-bottom-style:groove;
  border-width:3px;  
  position: relative;
  height: auto;
  background-color: white;
}
.scenedetail h3{
  left: 15%;
  font-family: 微軟正黑體;
  position: absolute;
}
.scenedetail h5{
  font-family: Verdana;
  margin-top:3%;
  position: absolute;
  font-size: 20px;
}

.scenedetail p{
  margin-top:10%;
  left: -55%;
  position: absolute;
  cursor: pointer;
}

.scenedetail table{
  margin-top: 10%;
  margin-left: 25%;
  position: relative;

}
#scenedetailphoto img{
  height: 150px;
  max-width: 300px;
}
.score{
  margin-left: 63%;
  margin-top: 65px;
  position:absolute;
}
.starWrapper{border-style:none;width:150px;} 
.starWrapper img{cursor:pointer;}

#scenecomment{
  word-break: break-all;
  font-size: 20px;
  top:20px;
  left:25%;
  width:50%;
  height: 20%;
  font-family: 微軟正黑體;
  text-align:left;
  position: relative;
}

.scenecommentmore{
  top:20px;
  left:200px;
  color:#0066FF;
  cursor: pointer;
  position: relative;
}

.scenedetailreturn{
  display: inline-block;
  left: 2vw;
  margin-left: 20px;
  padding-top: 10px;
  background-color: #2F4858;
  width: 8vw;
  height: 30px;
  position: relative;
  font-size: 18px;
  color: white;
  border-radius:20px;
  font-family: 標楷體;
  opacity: 0.7;
}

.scenedetailreturn:hover{
  opacity: 1;
  cursor: pointer;
}





/*登入及功能欄個人資訊*/
#personinfo{
  transform: skew(-30deg);
  margin-top: -35px;
  margin-left:63vw; 
  position: absolute;
  float:left;
  cursor: pointer;
  width:120px;
  height:15px;
  background-color:#2F4858;
  color:white;
  letter-spacing:5px;
  font-family: 微軟正黑體;
  text-align:center;
  padding-top:5px;
  padding-bottom:10px;
  font-size:14px;
  opacity: 0.7;
}
#personinfo div{
  transform: skew(30deg);
}

#personinfo:hover{
  border:solid 1px black;
  font-weight:bold;
  border-bottom:thick solid #7FB2F0;
  opacity: 1;
}

#persondetail{
  margin-top:-35px;
  margin-left:-40px;
  position:relative;
}


#personinfodetail li{
  padding-top:10px;
  width:110px;
  height:40px;
  color:#2F4858;
  letter-spacing:5px;
  text-align:left;
  font-size:20px;
  font-weight:bold;
  cursor: pointer;
}

#personinfodetail li:hover{
  color:black;
  background-color:white;
  border-bottom:solid 1px black;
}

li{
  list-style-type:none;
  margin-top:10px;
}
#presonframe{
 margin-top:20px; 
 margin-left:10px;
 width:250px;
 border:solid 2px black;
 border-radius:10px;
 padding-bottom:20px;
 background-color: white;
 height: 330px;
}

#personinfodetail{
  position: absolute;
  margin-left: 67%;
  display:none;
}

#minipersonimg{
  overflow: hidden;
  cursor:pointer;
  background-repeat:no-repeat;
  background-size:100%;
  margin-left:8px;
  margin-top:10px;
  height:80px;
  width:80px;
  background-color:white;
  border:solid 2px black;
  border-radius:80px;
}

#personminiinfo{
  margin-top:-80px;
  margin-left:100px;
  font-family:ARIAL;
  font-size:20px;
  position:absolute;
  font-weight:bold;
}

#personinfos{
  transform: skew(-30deg);
  margin-top: -35px;
  margin-right:5.5%; 
  position: relative;
  float:right;
  cursor: pointer;
  width:120px;
  height:15px;
  background-color:#2F4858;
  color:white;
  letter-spacing:5px;
  font-family: 微軟正黑體;
  text-align:center;
  padding-top:5px;
  padding-bottom:10px;
  font-size:14px;
  opacity: 0.7;
}
#personinfos div{
  transform: skew(30deg);
}

#personinfos:hover{
  border:solid 1px black;
  font-weight:bold;
  border-bottom:thick solid #7FB2F0;
  opacity: 1;
} 

/*登入及功能欄個人資訊*/